# Середовище і секрети
.env
.env.*
.firebase/
firebase-debug.log
firebase-service-account.json
scripts/firebase-*-export.json

# Білди
dist/
functions/node_modules/
node_modules/

# IDE / ОС сміття
.DS_Store
Thumbs.db

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кеші
.cache/
*.cache
*.tsbuildinfo

# Сервісні
.vscode/
.idea/
